.container {
  height: 100vh;
  display: flex;
  /* changer la valeur par : row, column, row-reverse, column-reverse */
  flex-direction: row;
  /* changer les valeurs par : center, flex-start, flex-end, space-between, space-evely, space-around */
  justify-content: space-evenly;
  /* En flex row : aligne les carrés de haut en bas, en flex column : aligne les carré de gauche à droite */
  align-items: center;
}

.rouge {
  display: flex;
  /* Flex-graw(ou flex=chiffre) permet d'allouer une place + ou - importante aux div par rapport aux autres - changer chiffre */
  flex: 1;
  /* Order permet d'intervetir la place d'une div avec une autre, à défaut sa valeur est 0, la div est collée en flex-start */
  order: 0;
  background-color: red;
  width: 5em;
  height: 5em;
}

.bleue {
  display: flex;
  background-color: blue;
  width: 5em;
  height: 5em;
}

.orange {
  display: flex;
  background-color: orange;
  width: 5em;
  height: 5em;
}

.marron {
  display: flex;
  background-color: maroon;
  width: 5em;
  height: 5em;
}

.noire {
  display: flex;
  background-color: black;
  width: 5em;
  height: 5em;
}
.verte {
  display: flex;
  background-color: green;
  width: 5em;
  height: 5em;
}
