/* RESPONSIVE */

@media screen and (max-width: 850px) {
  .header,
  .header__nav-ul {
    /* Mise à la verticale du header et de la liste */
    flex-direction: column;
  }

  .header {
    border-radius: 10px;
  }

  .header__nav-ul {
      justify-content: space-evenly;
      /* padding top ne fonctionne pas */
      /* padding-top: -2em; */
  }
  .header__nav-ul-li {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid white;
    font-size: 0.8em
  }
}
